<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RegistryService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Websites\registry.theabfm.org\AuditLog\DashboardService\DashboardServiceAuditLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!--Note: Priority level can be ALL/DEBUG/INFO/WARN/ERROR/FATAL/OFF 
     Setup the root category, set the default priority level and add the appender(s) (where the logs will go)-->
    <root>
      <level value="ALL" />
    </root>
    <logger name="AuditLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
  </log4net>
  <appSettings>

    <add key="ConnectionString" value="Database=FIGMDHQIManagement;Data Source=10.20.201.105;User Id=FIGMDABFM;Password=pPp2Ncb@"/>
    <add key="FIGMDHQIManagement" value="Database=FIGMDHQIManagementABFM;Data Source=10.20.201.105;User Id=FIGMDABFM;Password=pPp2Ncb@"/>
    <add key="FIGMDWEB" value="Database=ABFM_FIGMDWeb;Data Source=10.20.201.105;User Id=FIGMDABFM;Password=pPp2Ncb@"/>
    <add key="FIGMDWEB_PQRS" value="Database=ABFM_FIGMDPQRSWeb;Data Source=10.20.201.105;User Id=FIGMDABFM;Password=pPp2Ncb@"/>

    <add key="FIGMDPQRSSubmission" value="Database=FIGMDPQRSSubmission;Data Source=10.20.201.105;User Id=FIGMDABFM;Password=pPp2Ncb@"/>

    <add key="MysqlCon" value="Server=10.20.210.227; Port=3306; Database=orbeon; Uid=orbeon; Pwd=orbeon123; Allow Zero Datetime=true;Pooling=False;"/>

    <add key="ErrorLog" value="C:\ErrorLog"/>
    <add key="AppointmentPDF" value="F:\"/>
    <add key="ActiveDirectoryName" value="INTRANET.FIGMD.COM" />
    <add key="ADUserName" value="administrator"/>
    <add key="ADPassword" value="Pr8X!n5frETep23#akas"/>
    <add key="ADPasswordLength" value="8"/>
    <add key="AllowedDomains" value="https://registry.theabfm.org,https://fred.figmd.com"/>
    <add key="ElasticSearchUrl" value="http://192.168.105.221:9220"/>
    <add key="KPIDifference" value="-5" />
    <add key="IsCORSEnabled" value="true" />
    <add key="TraceLocationAPIKey" value="8815ea4ee97f3360b1161b98266ba1e5fd14432d67fb8f0722bb07573e04788d"/>
    <add key="AuditApplicationName" value="ABFM Dashboard"/>
    <add key="ElasticSearchEnabled" value="True" />
    <add key="TempHTMLPath" value="C:\inetpub\wwwroot\IrisService\PrintData\" />
    <add key="SignatureImagePath" value="F:\Juber\vishweshwar\RegistryUI\Common.Web\Assets\ExistingImages\Content\Images\" />
    <add key="BaseAppURL" value="https://registry.theabfm.org/Dashboard/"/>
    <add key="CMSNPIURL" value="https://npiregistry.cms.hhs.gov/api/?number={0}"/>
    <add key="CMSNameURL" value="https://npiregistry.cms.hhs.gov/api/?enumeration_type=NPI-1&amp;first_name={0}&amp;last_name={1}"/>
    <add key="FIGmdUsersGroupUID" value="8BA52D0E-A74A-40D1-8310-677A3FBB8BB2"/>

    <add key="ExceptionMailToEmailIDList" value="pramodk@figmd.com"/>
    <add key="ExceptionMailCCEmailIDList" value="sumedhs@figmd.com"/>
    <add key="ExceptionMailBccEmailIDList" value="shweta.sashte@dev.figmd.com,ganesh.dhobale@dev.figmd.com"/>
    <add key="ExceptionEmailType" value="PortalExMail"/>
    <add key="ExceptionPlaceHolder" value="DashBoard"/>
    <add key="IsSendMailOnException" value="true"/>
    <add key="isMeasureCommentShow" value = "1"/>

    <add key="AdServiceUserName" value="IntraAdmin"/>
    <add key="AdServicePassword" value="Pr8X!n5frETep23#akas"/>
    <add key="ADOUServicePath" value="https://iris1.aao.org/ADOUManagementDemo/user.svc/User/"/>
    <add key="ADOURegistryNames" value="[ABFM]" />
    <add key="CryptoLibKey" value="(rypt0F!Gmd@2016" />
    <add key="RTQueue" value="Test Registry US Management"/>
    <add key="EMRRTQueue" value="ABFM US Mapping"/>

    <!-- REGISTRY INFORMATION FOR SSRS REPORT -->
    <add key="RegistryName" value="PRIME" />
    <add key="RegistryTitle" value=" American Board of Family Medicine" />
    <add key="RegistryContactNo" value="859-269-5626" />
    <add key="RegistryMail" value="SHajjar@theabfm.org" />
    <add key="RegistrySite" value="https://www.theabfm.org/primeregistry/" />
    <add key="RegistrySupportMail" value="prime.support@bot.figmd.com" />

    <!-- FOR SSRS REPORT CONFIGURATION-->
    <add key="NetworkCredentialUserName" value="registryreportuser" />
    <add key="NetworkCredentialUserPassword" value="cruvEf*4AP" />
    <add key="NetworkCredentialUserDomain" value="intranet" />
    <add key="SSRSReportServerUrl" value="http://10.20.201.90/ReportServer/" />

    <!-- FOR SSRS REPORT CONFIGURATION-->
    <add key="SSRSABFMPracticeReportPath" value="/ABFM Live/DashboardReportPractice" />
    <add key="SSRSABFMLocationReportPath" value="/ABFM Live/DashboardReportPracticeLocation" />
    <add key="SSRSABFMProviderReportPath" value="/ABFM Live/DashboardReportPracticeProvider" />

    <!--RT ReadWrite Library-->
    <add key="RTBaseAddress" value="https://rt.figmd.com"/>
    <add key="RTUserName" value="robot"/>
    <add key="RTPassword" value="rn19mq5C"/>
    <add key="MeasureCommentRTQueue" value="ABFM US Mapping"/>

    <!--PQRS-->
    <add key="PDFfilePath" value="D:\Juber\ABFMPQRS\" />
    <add key="DRCFApiKey1" value="XXQBKU34N6N3DX6" />
    <add key="DRCFApiKey" value="3AAABLblqZhBSO4EVVX90ge5V0sX6Jtp6kAgSuqNTaXfBF0opxjpqrHILhBpem62AbcBkmbNZIVDMZuwb0YLtHzt73DmF3kG1"/>
    <add key="DRCFAgreementFileName" value="PRIME DRCF Agreement.pdf" />
    <add key="GPROPDFfilePath" value="D:\Juber\ABFMPQRS\"/>
    <add key="GPRODRCFAgreementFileName" value="GPRO DataReleaseConsentForm_PRIME_ver.3_010917.pdf" />
    <add key="pdfpath1" value="D:\Websites\registry.theabfm.org\Dashboard\PQRSPostFinalizedPdfFiles\" />
    <add key="EsignedEventDescription" value="Document e-signed by" />

    <add key="BenchMarkText" value="Registry Peer-Average:"/>

    <!--MIPS-->
    <add key="DRCFAgreement" value="D:\Websites\registry.theabfm.org\Dashboard\MIPS\Documents\DRCFAgreement\" />
    <add key="EchoSignAPIKey" value="XXQBKU34N6N3DX6" />
    <add key="POLARISEchoSignAPIKey" value="2AAABLblqZhAx1WbwpI6KZQKaYdnHQXNIq3U8b322DTHUGzgexhlhFUewFv-4o335pe5jeiZcw5s*" />    
    <add key="PRIMEEchoSignAPIKey" value="3AAABLblqZhBSO4EVVX90ge5V0sX6Jtp6kAgSuqNTaXfBF0opxjpqrHILhBpem62AbcBkmbNZIVDMZuwb0YLtHzt73DmF3kG1" />

    <add key="POLARISEchoSignAPIKey1" value="XXQBKU34N6N3DX6" />
    <add key="PRIMEEchoSignAPIKey1" value="XXQBKU34N6N3DX6" />


    <!--This key is for local-->
   
    <add key="NPIValidateUrl" value="https://npiregistry.cms.hhs.gov/api" />
    <add key="StripeApiKey" value="sk_test_JoUMlIiCHIwgroCWuZl6d3or" />
    <add key="SkipServiceAuthentication" value="GetQualityMeasuresDecileRangeList"/>
    <add key="DRCFSignMethod" value="ECOSIGN" />
    <add key="UpdateDocumentStatusServiceURL" value="https://registry.theabfm.org/DemoCallbackService/UpdatedDocumentStatus.asmx/UpdateEchosignDocumentStatus" />
    <add key="EsignedEventDescription" value="Document e-signed by"/>


    <!-- MIPS Ver 5 keys-->

    <!--Live Keys-->
    <add key="QRSubmissionApiKey" value="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDM2NDA0MDAsImlzcyI6InFwcC1hdXRoLXNlcnZpY2UtNzZhZmU5MDMtNWQ1OC00YzljLWE2NjUtZTg4OTM0NDUzMmQwIiwiZGF0YSI6eyJpZCI6Ijc2YWZlOTAzLTVkNTgtNGM5Yy1hNjY1LWU4ODkzNDQ1MzJkMCIsInByb2dyYW1ZZWFyIjoiMjAxNyIsIm9yZ1R5cGUiOiJxY2RyIiwiY21zSWQiOiI0ODQ5NTA4IiwibmFtZSI6IkFtZXJpY2FuIEJvYXJkIG9mIEZhbWlseSBNZWRpY2luZSwgSW5jIn0sImlhdCI6MTUwODg1NjkwMX0.iORDp6jpsAwUWornxAP7SeKIrNYKPvCPwOfbM4Kf1Yo" />
    <add key="QCDRSubmissionApiKey" value="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDM2NDA0MDAsImlzcyI6InFwcC1hdXRoLXNlcnZpY2UtNzZhZmU5MDMtNWQ1OC00YzljLWE2NjUtZTg4OTM0NDUzMmQwIiwiZGF0YSI6eyJpZCI6Ijc2YWZlOTAzLTVkNTgtNGM5Yy1hNjY1LWU4ODkzNDQ1MzJkMCIsInByb2dyYW1ZZWFyIjoiMjAxNyIsIm9yZ1R5cGUiOiJxY2RyIiwiY21zSWQiOiI0ODQ5NTA4IiwibmFtZSI6IkFtZXJpY2FuIEJvYXJkIG9mIEZhbWlseSBNZWRpY2luZSwgSW5jIn0sImlhdCI6MTUwODg1NjkwMX0.iORDp6jpsAwUWornxAP7SeKIrNYKPvCPwOfbM4Kf1Yo" />

    <add key="QRPOLARISSubmissionApiKey" value="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDM2NDA0MDAsImlzcyI6InFwcC1hdXRoLXNlcnZpY2UtN2I2YzY0ZTctYWI3OS00NTFjLThiMjQtYzQxNmM1MTBlNzNmIiwiZGF0YSI6eyJpZCI6IjdiNmM2NGU3LWFiNzktNDUxYy04YjI0LWM0MTZjNTEwZTczZiIsInByb2dyYW1ZZWFyIjoiMjAxNyIsIm9yZ1R5cGUiOiJyZWdpc3RyeSIsImNtc0lkIjoiNDI4MTU0MyIsIm5hbWUiOiJGSUdtZCBQT0xBUklTIFF1YWxpZmllZCBSZWdpc3RyeSJ9LCJpYXQiOjE1MDg4NTY5MDJ9.2MdyV2vkl6UFiQ-B3POcRp5zGUKAz494G5MtqLEj5Zo" />

    <add key="SubmissionMeasurementsetUrl" value="https://qpp.cms.gov/api/submissions/measurement-sets" />
    <add key="ScorePreviewUrl" value="https://qpp.cms.gov/api/submissions/submissions/score-preview" />
    <add key="SubmissionUrl" value="https://qpp.cms.gov/api/submissions/submissions" />
    <!--Live Keys-->

    <!--Demo Keys-->
    <!--<add key="QRSubmissionApiKey" value="Bearer" />
    <add key="QCDRSubmissionApiKey" value="Bearer" />
    <add key="SubmissionMeasurementsetUrl" value="https://qpp-submissions-sandbox.navapbc.com/measurement-sets" />
    <add key="ScorePreviewUrl" value="https://qpp-submissions-sandbox.navapbc.com/submissions/score-preview" />
    <add key="SubmissionUrl" value="https://qpp-submissions-sandbox.navapbc.com/submissions" />-->
    <!--Demo Keys-->

    <add key="ValidateUrl" value="https://qpp.cms.gov/api/submissions/submissions/validate" />
    <add key="BenchmarksUrl" value="https://qpp.cms.gov/api/submissions/public/benchmarks?" />
    <add key="SubmissionLogFilePath" value="D:\Juber\ABFM\MIPS\MIPS_XML_Files\Logs\" />
    <add key="SubmissionXmlFilePath" value="D:\Juber\ABFM\MIPS\MIPS_XML_Files\xml\" />
    <add key="SubmissionXmlZipFilePath" value="D:\Juber\ABFM\MIPS\MIPS_XML_Files\ZIP\" />

    <!-- END Ver 5 keys END-->

    <!--Sign up-->
    <add key="ServiceAccessUserTaskUIDone" value="32914A92=ECAF=42DE=8A58=143684872DAB"/>
    <add key="ServiceAccessUserTaskUIDTwo" value="2F641088=0FB6=4360=A996=E166A4F9CD26"/>
    <add key="ServiceUrl" value="https://fred.figmd.com/PracticeManagementService/services/TaskCreation.svc/TaskCreation/CreateTask"/>
    <!--Sign up-->

    <!--MIPS7-->
    <add key="FREDEmailSendAPIUrl" value="https://fred.figmd.com/PracticeManagementService/services/RTManagement.svc/RTManagement/EB_EmailSendApi"/>
    <add key="FREDEmailSendAPIRefer" value="32914A92=ECAF=42DE=8A58=143684872DAB-2F641088=0FB6=4360=A996=E166A4F9CD26" />
    <add key="RegistryUid" value="932FEB8F-8EDE-424D-86B0-8F82C1182BB8" />
    <add key="MIPSSubmissionCcEmails" value="pramodk@figmd.com" />
    <add key="EmailConfigurationUid" value="D4C19269-A5E5-442A-9FF3-C2141F436DB2" />
    
    <add key="ABFMGPRODocumentName" value="2017_MIPS_CPC+_GPRO_FINAL010418" />
    <add key="ABFMIndividualDocumentName" value="2017_MIPS_CPC+_FINAL010418" />

    <add key="PolarisGPRODocumentName" value="FIGmd - POLARIS Data Release Consent for MIPS (GPRO) 4840-4185-8129 v.4" />
    <add key="PolarisIndividualDocumentName" value="FIGmd - POLARIS Data Release Consent for MIPS EP 4847-8060-8081 v.5 1-16-18" />
    <add key="isDemo" value="false" />

    <!--MIPS7-->

  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    <compilation targetFramework="4.0"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime maxRequestLength="26214400" executionTimeout="3600" enableVersionHeader="false" />
  </system.web>

  <system.serviceModel>
    <client />
    <bindings>
      <webHttpBinding>
        <binding name="RestHttpBinding" closeTimeout="01:01:00" openTimeout="01:01:00"
          receiveTimeout="01:10:00" sendTimeout="01:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" useDefaultWebProxy="true" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxStringContentLength="2000000" maxArrayLength="2000000"
            maxBytesPerRead="2000000" />
          <security mode="Transport">
            <transport clientCredentialType ="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="RegistryService.Practice" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Practice" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IPractice" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Location" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Location" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.ILocation" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Measure" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Measure" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IMeasure" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Master" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Master" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IMaster" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.User" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="User" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IUser" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Orbeon" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Orbeon" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IOrbeon" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Provider" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Provider" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IProvider" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.UserGroup" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="UserGroup" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IUserGroup" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Patient" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Patient" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IPatient" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Authorization" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Authorization" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IAuthorization" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Scheduler" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Scheduler" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IScheduler" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.ScoreCard" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="ScoreCard" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IScoreCard" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Pqrs" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Pqrs" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IPqrs" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.ElementAnalysis" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="ElementAnalysis" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IElementAnalysis" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.Audit" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Audit" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IAudit" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RegistryService.Queries">
        <endpoint address="Queries" behaviorConfiguration="WebRestBehavior" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IQueries" />
      </service>

      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RegistryService.Help">
        <endpoint address="Help" behaviorConfiguration="WebRestBehavior" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IHelp"/>
      </service>

      <service name="RegistryService.Pathway" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="Pathway" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IPathway" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.EMRSpreadsheet" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="EMRSpreadsheet" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IEMRSpreadsheet" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.MeasureSet" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="MeasureSet" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IMeasureSet" behaviorConfiguration="WebRestBehavior"/>
      </service>

      <service name="RegistryService.DashboardComparison" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="DashboardComparison" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IDashboardComparison" behaviorConfiguration="WebRestBehavior"/>
      </service>

      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RegistryService.MIPS">
        <endpoint address="MIPS" behaviorConfiguration="WebRestBehavior" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IMIPS" />
      </service>

      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RegistryService.GST">
        <endpoint address="GST" behaviorConfiguration="WebRestBehavior" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IGST" />
      </service>

      <service name="RegistryService.MipsAPISubmission" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="MipsAPISubmission" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IMipsAPISubmission" behaviorConfiguration="WebRestBehavior" />
      </service>

      <service name="RegistryService.GWT" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="GWT" binding="webHttpBinding" bindingConfiguration="RestHttpBinding" contract="RegistryService.IGWT" behaviorConfiguration="WebRestBehavior"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WebRestBehavior">
          <webHttp helpEnabled="true" faultExceptionEnabled="true" />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <serviceAuthorization serviceAuthorizationManagerType="UNValidator.CustomUserNamePasswordValidator, UNValidator"/>

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="80" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="UNValidator.CORSEnablingBehavior, UNValidator" />
        <add name="ErrorBehavior" type="UNValidator.ErrorHandlerBehavior, UNValidator" />
      </behaviorExtensions>
    </extensions>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="NOSNIFF" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <applicationSettings>
    <RegistryService.Properties.Settings>
      <setting name="RegistryService_PrintService_Print" serializeAs="String">
        <value>http://192.168.105.219/PrintService/Print.svc</value>
      </setting>
    </RegistryService.Properties.Settings>
  </applicationSettings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>

    <dependentAssembly>
      <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
    </dependentAssembly>

  </runtime>
</configuration>
